{% extends "base.njk.html" %}

{% block beforeContent %}
{% if page.previouspage -%}
{{ callMacro('govukBackLink', {
  "href": page.previouspage,
  "text": "Back"
}) }}
{%- endif %}
{% endblock %}

{% block content %}

{% block errorContent %}
{% if page.errorList %}
{{ callMacro('govukErrorSummary', {
  titleHtml: page.errorTitle,
  errorList: page.errorList
}) }}
{% endif %}
{% endblock %}

{% block prePageContentHeading %}{% endblock %}

<div class="govuk-main-wrapper">
<div class="govuk-grid-row">
{% set columns = 'two-thirds' %}
{% if page.columns %}
{% set columns = page.columns %}
{% endif %}
<div class="govuk-grid-column-{{ columns }}">

{% block pageContentHeading %}
{{ callMacro('pageContentHeading', page) }}
{% endblock %}

{% block pageContentBody %}
<form method="post"{% if page.action %} action="{{ page.action }}"{% endif %}{% if not page._form %} class="govuk-prose-scope"{% endif %}>
{{ callMacro('pageContentBody', page)}}
</form>
{% endblock %}

</div>
</div>
</div>
{% endblock %}{# end content #}